body { 
  font-family: helvetica, sans-serif; 
  font-weight: bold;
  color: black;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
}

[class*='col-'] {
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  background: RoyalBlue;
  margin-bottom: 40px;
  color: white;
  -webkit-transition: width 150ms;
  -moz-transition: width 150ms;
  -o-transition: width 150ms;
  transition: width 150ms;
}

.col-bottom {
  vertical-align: bottom;
}

.col-middle {
  vertical-align: middle;
}
h1, a { 
  display: inline-block; 
  line-height: 2em; 
  margin: 0 20px 0 0;
}